@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --font-display: var(--font-display), serif;
  --color-background: hsl(45deg 30.77% 94.9%);  
  --color-surface: hsl(36deg 30.86% 84.12%);  
  --color-secondary: hsl(0deg 0% 100%);  
  --color-strong: hsl(36deg 30.86% 84.12%);

  --color-text: rgb(43 43 43); 
  --color-text-strong: rgb(0 0 0);      
  --color-text-accent: rgb(134 179 179); 
}
